body{
  background-color: rgb(245,244,246);
  color: black;
  font-family: SF Pro Display, Helvetica Neue, sans-serif;;
}

.category{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 100vh;
  text-align: center;
  padding: 50px 0px;
  gap: 50px;
}

.category > div{
  border: none;
  border-radius: 15px;
  padding: 100px 0px;
  background-color: white;
  box-shadow: 2px 4px 12px #00000014;;
  cursor: pointer;
}