body{
  background-color: rgb(245,244,246);
  color: black;
  font-family: SF Pro Display, Helvetica Neue, sans-serif;
}

/* CATEGORY, LISTS CSS */

.category{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 100vh;
  text-align: center;
  padding: 50px 0px;
  gap: 50px;
}

.category > div{
  border: none;
  border-radius: 15px;
  padding: 100px 0px;
  background-color: white;
  box-shadow: 2px 4px 12px #00000014;
  cursor: pointer;
}

.category > .items{
  padding: 10px 0px 40px 0px;
}

/* PRODUCT DETAILS CSS */
.content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content > .left{ 
  padding: 40px 80px;
  justify-self: center;
  font-size: 24px;
}

.content > .right{
  padding: 80px 80px;
  line-height: 40px;
  font-size: 20px;
}

button{
  background-color: blue;
  border: none;
  padding: 20px 40px;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  width: 500px;
  cursor: pointer;
}

/* SIGN IN & SIGN UP CSS */
.signin{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  margin: auto;
}

.signin > h1{
  font-size: 20px;
}

.signin > input{
  padding: 20px 20px;
  width: 250px;
  margin: auto;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
}

.signin > button{
  margin: auto;
  width: 100px;
  border-radius: 50px;
  cursor: pointer;
}

/* ADD TO BAG CSS */
.bag{
  margin: auto;
  width: 1000px;
  padding: 50px 200px;
}

.bag > .list{
  display: flex;
  flex-direction: row;
  padding: 75px 0px;
}

.bag > h1{
  font-size: 40px;
}

.bag > .list > .left{
  height: 200px;
  width: 200px;
}

.bag > .list > .right{
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 350px;
}